.skills-section {
  background-color: #2662FA;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;  /* Allows items to wrap onto the next line */
  align-items: center;
  justify-content: space-around; /* Adjusted from space-between to better handle wrapping */
  gap: 32px;  /* Gap between rows when wrapping occurs */
}

.skills-section i {
  font-size: 80px;
  color: #FFF;
  transition: 0.3s;
  cursor: pointer;  /* Indicates clickable or interactive elements */
  min-width: 50px;  /* Minimum width to make sure icons have space */
  text-align: center;  /* To keep the icon centered if the size changes */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .skills-section i {
    font-size: 50px;  /* Smaller icons for small screens */
  }
}

.skills-section i:hover {
  color: #13317D; /* Gold color when hovered */
}

.btn-style-1 {
  background-color: #2662FA;
  color: #FFF;
  /* padding: 10px 20px; */
  /* border-radius: 5px; */
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
