.portfolioSection {
  padding-top: 32px;
  padding-bottom: 32px;
  margin: auto;
}

.title {
  color: var(--mantine-color-black);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
  line-height: 1.05;
  max-width: 500px;
  font-size: 48px;
  text-align: center;
  margin: 16px auto;

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    font-size: 34px;
    line-height: 1.15;
  }
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}